
.Log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
    padding: 0px;
    border-radius: 10px;
    background-color:white;
    
  }
  .lh2{
    color:black;
    padding-bottom: 40px;
  }
  .Linput{
    border-color:black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline:none;
    height: 50px;
    width:200px;
  }
  .Lbutton{
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    background-color: #000000;
    color: azure;
  }
  